@page "/"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Sandbox.GameDev.Domain.Models.Base
@using TheChant.Components.Models
@rendermode InteractiveServer
@inject IJSRuntime JS;

<PageTitle>@pageTitle</PageTitle>

<div style="display: none">
    <img src="images/tilemap1.png" @ref="tilemap1Reference">
</div>

<BECanvas Width="160" Height="160" @ref="_canvasReference"></BECanvas>

@code {
    private string pageTitle = "O Cântigo";
    private ElementReference tilemap1Reference;
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext _context = null!;
    private Game game = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();

        game = new TheChant(resources: [
            tilemap1Reference
        ]);

        game.RenderAsync(_context, timeStamp: 0);
    }
}